* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.main {
  background-image: url("assets/img/background\ image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: max(1200px, 100vw);
  height: 90vh;
  position: relative;
}

nav img {
  width: 130px;
  position: relative;
  z-index: 8;
}

.main .box {
  height: 90vh;
  width: 100%;
  opacity: 0.69;
  background-color: black;
  position: absolute;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 80vw;
  height: 62px;
  max-width: 80vw;
}

nav button {
  position: relative;
  z-index: 8;
}

.hero {
  height: calc(100% - 62px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 0 30px;
}

.hero .first {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 900;
  font-size: 48px;
  color: rgb(255, 255, 255);
  margin: 5px;
  text-align: center;
}
.hero .second {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: rgb(255, 255, 255);
  margin: 5px;
  text-align: center;
}

.hero .third {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.seperation {
  height: 7px;
  background-color: rgb(37, 35, 35);
  position: relative;
  z-index: 20;
}

.btn {
  padding: 3px 8px;
  margin-right: 19px;
  background-color: rgba(23, 23, 23, 0.7);
  font-weight: 400;
  border-radius: 4px;
  border: 1px solid rgba(218, 210, 210, 0.5);
  color: white;
  cursor: pointer;
}

.btn-red {
  background-color: red;
  color: white;
  padding: 3px 24px;
  font-size: 20px;
  text-align: center;
  border-radius: 4px;
  font-weight: 400;
}

.btn-red-sm {
  background-color: red;
  color: white;
  text-align: center;
}

.hero-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.main input {
  padding: 7px 101px 8px 14px;
  font-weight: 600;
  font-size: 12px;
  border-radius: 4px;
  background-color: rgba(23, 23, 23, 0.7);
  border: 1px solid rgba(218, 210, 210, 0.5);
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  margin: auto;
  color: white;
}

.secImg {
  position: relative;
}

.secImg img {
  width: 30vw;
  position: relative;
  z-index: 10;
}

.secImg video {
  position: absolute;
  top: 56px;
  right: 51px;
  width: 259px;
}

section >div{
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
}

 section.first > div :nth-child(1){
    font-size: 40px;
    font-weight: bolder;
}

 section.first > div :nth-child(2){
    font-size: 24px;
    
}
 
.faq h2{
  color: white;
  margin: 20px;
  margin-top: 50px;
  font-size: 48px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}


.faqbox{
  display: flex;
  background-color: rgb(40, 36, 36);
  flex-direction: row;
  justify-content: space-between;
  max-width: 70vw;
  margin: 10px auto;
  cursor: pointer;
  transition: all 0.5s ease-out; /*for hover transition
  */
  
}

.faqbox:hover{
  background-color: gray;
}

.faqbox span{
  color: white;
  font-weight: 450;
  padding: 15px;
  font-size: 22px;
  padding: 20px;
  
}

.faqbox svg{
  padding: 20px;
  color: white;
}

.lastFooter span{
  color: white;
  text-align: center;
  margin: 30px;
  font-size: 20px;

}

.lastFooter .mails{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.mails input{
  background-color: rgb(21, 23, 23);
  border-radius: 4px;
  padding: 11px;
  font-size: 17px;
}

.mails .red{
  background-color: red;
  color: white;
  padding: 3px 24px;
  font-size: 30px;
  text-align: center;
  border-radius: 4px;
  font-weight: 400;
}

.seperation1{
  height: 7px;
  background-color: rgb(37, 35, 35);
  margin-top: 100px;
}

footer{
  color: rgba(255, 255, 255, 0.7);
  max-width: 60vw;
  margin: auto;
  padding: 14px;
}

footer .questions{
  padding: 34px 0;
}

.footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  

}

 .footer-item{
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.7);
  gap: 23px;
 }

.footer a{
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
 }



